@import url('https://fonts.googleapis.com/css2 ?family=DM+ Serif+ Text&family=Inter:wght@900 &family=Tienne:wght@900&display=поменять местами');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    max-width: 1440px;
    max-height: 4096px;
    width: 100%;
    height: 100%;
    background: url("../img/bg-fon.png") center no-repeat;
    background: linear-gradient(255, 255, 255);
    background-size: cover;
    position: relative;
}

.container {
    max-width: 1339px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.nav-content {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.nav_link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
}

.header-Login {
    display: flex;
    align-items: center;
    column-gap: 18px;
    transform: translateX(392px);
}

.header-login_link {
    color: #FFF;
    font-family:Inter;
    font-size: 20px;
    font-weight: 900;
}
/* End Header style */
.header-banner {
    margin-top: 25%;
    width: 100%;
}
.banner-container {
    max-width: 1339px;
    widows: 100%;
    padding: 0 40px;
}
.banner-wrap {
    display: flex;
    align-items: center;
}
.banner-img {
    transform: translateX(88%);
    animation-name: animate;
    animation-duration: 2s;
    animation-direction: alternate;
    margin-top: -10%;
}
@keyframes animate {
    0% 
    {
        transform: translateX(100%);
    }
}
.banner-info {
    margin-left: 5%;
    
}